<p-panel header="Settings">
  <p-panel header="Common" [toggleable]="true">
    <div class="ui-g">
      <div class="ui-g-6 setting">
        Do you want to receive Push-Notifications?
      </div>
      <div class="ui-g-6 setting">
        <p-toggleButton [(ngModel)]="checked"></p-toggleButton>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 setting">
        Brightness-Threshold to turn on grow-light 
      </div>
      <div class="ui-g-6 setting">
        <div>Threshold: {{brightnessThreshold}}</div>
        <p-slider [(ngModel)]="brightnessThreshold" (mouseup)="changedConfiguration()" [disabled]="!checked" [min]="0" [max]="700"></p-slider>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 setting">
        Acceptable Watertemperature-Range
      </div>
      <div class="ui-g-3 setting">
        <div>Min: {{rangeValuesWater[0]}}°</div>
        <p-slider [(ngModel)]="rangeValuesWater[0]" (mouseup)="handleChangedWaterTemp($event)" [disabled]="!checked"></p-slider>
      </div>
      <div class="ui-g-3 setting">
        <div>Max: {{rangeValuesWater[1]}}°</div>
        <p-slider [(ngModel)]="rangeValuesWater[1]" (mouseup)="handleChangedWaterTemp2($event)" [disabled]="!checked"></p-slider>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 setting">
        Acceptable Airtemperature-Range
      </div>
      <div class="ui-g-3 setting">
        <div>Min: {{rangeValuesAir[0]}}°</div>
        <p-slider [(ngModel)]="rangeValuesAir[0]" (mouseup)="handleChangedAirTemp($event)" [disabled]="!checked"></p-slider>
      </div>
      <div class="ui-g-3 setting">
        <div>Max: {{rangeValuesAir[1]}}°</div>
        <p-slider [(ngModel)]="rangeValuesAir[1]" (mouseup)="handleChangedAirTemp2($event)" [disabled]="!checked"></p-slider>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 setting">
        Feeding Frequency:
      </div>
      <div class="ui-g-6 setting">
        <div>Minutes: {{feedingFrequency}}</div>
        <p-slider [(ngModel)]="feedingFrequency" [min]="10" [max]="600" (mouseup)="changedConfiguration()" [disabled]="!checked"></p-slider>
      </div>
    </div>
  </p-panel>
  <p-panel header="Aquarium" [toggleable]="true">
    <div class="ui-g">
        <div class="ui-g-6 setting">
          Fishes inside the tank:
        </div>
        <div class="ui-g-6 setting">
          <app-view [title]="Fish" [items]="fishesInside" (changedEntries)="changedFishes($event)" (showInformationDialog)="showInformationDialog($event)" [entries]="fishes" placeholder="Select fish"></app-view>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6 setting">
          Plants on top of the tank:
        </div>
        <div class="ui-g-6 setting">
          <app-view [title]="Plants" [items]="plantsInside" (changedEntries)="changedPlants($event)" [entries]="plants" placeholder="Select plant"></app-view>
        </div>
    </div>
  </p-panel>
</p-panel>