<p-panel header="Profile">
    <div class="ui-g">
      <div class="ui-g-6 setting">
        Username:
      </div>
      <div class="ui-g-6 setting">
        Fibonacci
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g 4">
        <p-button label="Change Password">
        </p-button>
      </div>
      <div class="ui-g 4">
        <p-button label="Invite Friend">
        </p-button>
      </div>
      <div class="ui-g 4">
        <p-button styleClass="ui-button-danger" label="Delete Account">
        </p-button>
      </div>
    </div>
</p-panel>