<p-dialog [width]="500" header="Information" [(visible)]="display">
    <div class="ui-g">
      <div class="ui-g-6">  
        <img [src]="currentFish?.piclink" />
      </div>
      <div class="ui-g-6">  
        <h3>{{currentFish?.name}}</h3>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        Neccesary Temperature:
      </div>
      <div class="ui-g-6">
        {{currentFish?.mintemp}}-{{currentFish?.maxtemp}}
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
          Approximate Weight:
        </div>
        <div class="ui-g-6">
          {{currentFish?.weight}}
        </div>
      </div>
    <div class="ui-g">
      <div class="ui-g-6">
        Needed food:
      </div>
      <div class="ui-g-6">
        <ul>
          <li *ngIf="currentFish?.flakefood">Flakes</li>
          <li *ngIf="currentFish?.frostfood">Frost</li>
          <li *ngIf="currentFish?.livefood">Live</li>
        </ul>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        Needs Hidingspot:
      </div>
      <div class="ui-g-6">
        <span *ngIf="currentFish?.needshiding">Yes</span>
        <span *ngIf="!currentFish?.needshiding">No</span>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        Minimum Quantity:
      </div>
      <div class="ui-g-6">
        {{currentFish?.minquantity}}
      </div>
    </div>

    <p-footer>
        <button type="text" (click)="hideDialog()" pButton label="OK"></button>
    </p-footer>
</p-dialog>
<button *ngIf="currentFish !== undefined" type="icon" (click)="showDialog()" pButton icon="fa fa-info-circle"></button>

