<p-card class="ui-g-12">
  <ng-container *ngFor="let i of items">
    <div *ngIf="i.amount > 0">
      <table>
          <tr>
            <td style="width: 70%">
              {{i.name}}
            </td>
            <td style="width: 30%">
              <p-spinner [name]="i.name" [(ngModel)]="i.amount" [min]="0" style="width: 60%" (onChange)="onSpinnerChange($event, i.name, i.amount)">
              </p-spinner>
            </td>
          </tr>
        </table>
      </div>
    </ng-container>
  <p-footer>
    <p-dropdown [filter]="true" (onChange)="onChange($event)" [options]="items" [(ngModel)]="selectedItem" [placeholder]="placeholder" optionLabel="name" [showClear]="true"></p-dropdown>
    <button pButton label="Add" icon="fa-plus" (click)="add($event)"></button>
  </p-footer>
</p-card>