<p-panel header="Dashboard">
  <div class="ui-g">
      <div class="ui-g-6">  
        <p-panel header="Sensors">
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Water-temperature:
            </div>
            <div class="ui-g-6 setting">
              {{watertemp}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Air-temperature:
            </div>
            <div class="ui-g-6 setting">
              {{airtemp}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Brightness:
            </div>
            <div class="ui-g-6 setting">
              {{brightness}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Water-Level:
            </div>
            <div class="ui-g-6 setting">
              {{waterlevel}}
            </div>
          </div>
          <div class="ui-g">
              <p-message *ngIf="lamp != 0" severity="success" text="Grow-Lamp is on!"></p-message>
              <p-message *ngIf="feeder != 0" severity="success" text="Feeding right now!"></p-message>
          </div>
        </p-panel>
        <p-panel header="Controller">
          <div class="ui-g">
            <div class="ui-g-6 setting">
              <button type="icon" (click)="startFeeding()" pButton icon="fa fa-cutlery" label="Start feeding"></button>
            </div>
            <div class="ui-g-6 setting">
                <button type="icon" (click)="switchLamp()" pButton icon="fa fa-lightbulb-o" label="Switch lamp ON/OFF"></button>
            </div>
          </div>
        </p-panel>
        </div>
        <div class="ui-g-6">
            <p-panel header="Connection">
              <div class="ui-g">
                <div class="ui-g-6 setting">
                  Aqua-Pi:
                </div>
                <div class="ui-g-6 setting">
                  {{piid}}
                </div>
              </div>
              <div class="ui-g">
                <div class="ui-g-6 setting">
                  Status:
                </div>
                <div class="ui-g-6 setting">
                  <span class="fa fa-wifi" style="color: green;"></span>
                </div>
              </div>
              <div class="ui-g">
                <div class="ui-g-6 setting">
                  Last value received:
                </div>
                <div class="ui-g-6 setting">
                  {{latestTimestamp}}
                </div>
              </div>
            </p-panel>
            <p-panel header="Messages">
              <app-messages #messages [additionalMessages]="warnings"></app-messages>
            </p-panel>
        </div>
  </div>
  </p-panel>
  <p-growl [(value)]="msgs"></p-growl>