<p-panel header="Dashboard">
  <div class="ui-g">
      <div class="ui-g-6">  
        <p-panel header="Sensors">
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Water-temperature:
            </div>
            <div class="ui-g-6 setting">
              {{watertemp}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Air-temperature:
            </div>
            <div class="ui-g-6 setting">
              {{airtemp}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Brightness:
            </div>
            <div class="ui-g-6 setting">
              {{brightness}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Water-Level:
            </div>
            <div class="ui-g-6 setting">
              {{waterlevel}}
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-6 setting">
              Grow-light:
            </div>
            <div class="ui-g-6 setting">
              {{lamp}}
            </div>
          </div>
        </p-panel>
        </div>
        <div class="ui-g-6">
            <p-panel header="Connection">
              <div class="ui-g">
                <div class="ui-g-6 setting">
                  Aqua-Pi:
                </div>
                <div class="ui-g-6 setting">
                  {{piid}}
                </div>
              </div>
              <div class="ui-g">
                <div class="ui-g-6 setting">
                  Status:
                </div>
                <div class="ui-g-6 setting">
                  <span class="fa fa-wifi" style="color: green;"></span>
                </div>
              </div>
              <div class="ui-g">
                <div class="ui-g-6 setting">
                  Last value received:
                </div>
                <div class="ui-g-6 setting">
                  {{latestTimestamp}}
                </div>
              </div>
            </p-panel>
        </div>
  </div>
  </p-panel>
  <p-growl [(value)]="msgs"></p-growl>